.swipe-effect {
    color: var(--nice-black);
    border-color: var(--nice-black);
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.swipe-effect::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--nice-black);
    transition: all 1s;
}

.swipe-left-right::before{
    z-index: -1;
    transform: translateX(-100%);
}

.swipe-left-right:hover::before{
    transform: translateX(0);
}

.swipe-left-right:hover{
    color: white;
}


.swipe-top-bottom{
    transition: all 0.5s;
}
.swipe-top-bottom::before{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.swipe-top-bottom::before{
    content: "Hello!";
    transform: translateY(-100%);
}

.swipe-top-bottom:hover::before{
    transform: translateY(0);
    color: white;
}