body{
    height: 100vh;
    width: 100%;
    display: flex;
}

div{
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

img {
    transition: transform 500ms;
    border-radius: 5%;
    margin: 4px;
}

img:hover{
    transform: translateZ(100px);
}