button {
  height: 40px;
  width: 100px;
  border-radius: 6px;
  background: linear-gradient(to right, purple, orange);
  position: relative;
  top: 50vh;
  left: 50vh;
  color: white;
  transition: transform 2s;
  transition-timing-function: linear;
}

.move:hover {
  transform: scale(1.5)  rotate(1turn);
}

img {
  transition: transform 2s;
}

.skew:hover{
  transform: skew(-45deg, 0deg);
}

.rotate{
  transform-origin: top left;
  transition: transform 900ms;
  transition-timing-function: ease-in-out;
}

.rotate:hover{
  transform: rotateZ(45deg);
}
